<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surelabs.indonesia.chatapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".chat.ChatActivity"
            android:parentActivityName=".main.ChatListActivity" />
        <activity
            android:name=".main.ChatListActivity"
            android:label="@string/title_activity_chat_list"
            android:theme="@style/Theme.ChatApplication.NoActionBar" />
        <activity
            android:name=".contact.ContactActivity"
            android:parentActivityName=".main.ChatListActivity" />

        <service
            android:name=".MessagingHandleService"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".register.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>